.Match {
    background-color: #BFE9FF;
    width: 100%;
    border-right: 1px solid;
    display: inline-block;
    z-index: 1;
    padding: 10px 0px 10px 0px;
}

.Match .container {
    background-color: white;
    margin: 0 auto;
    width: 75%;
    height: 20%;
    border: 1px solid black;
    border-radius: 30px;
    font-size: 25px;
    text-align: center;
    font-family: javanese;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.Match .container .wpm {
    font-size: 30px;
}
