.TopOneHundo {
    position: relative;
    background-color: #D9FFF1;
}
.TopOneHundo .grid {
    display: grid;
    grid-template-columns: 20% auto;
}


.TopOneHundo-container {
    position: relative;
    height: calc(100vh - 101px);
}
.TopOneHundo-container .display {
    background-color: white;
    margin: 5% auto 0% auto;
    width: 55%;
    height: 80%;
    border: 1px solid;
    overflow: auto;
}
.TopOneHundo-container .display .highscores {
    overflow: auto;
}
.TopOneHundo-container .display .highscores h1 {
    padding: 3%;
    margin: 0 auto;
    width: fit-content;
}
.TopOneHundo-container .display .highscores .scores {
    margin: 0 auto;
    width: 80%;
    height: 100%;
}
.TopOneHundo-container .display .highscores .scores table {
    border-collapse: collapse;
    width: 90%;
    margin: 0 auto;
}
.TopOneHundo-container .display .highscores .scores table th {
    text-align: center;
    background-color: #0491aa;
    color: white;
}
.TopOneHundo-container .display .highscores .scores table tr {
    text-align: center;
}
.TopOneHundo-container .display .highscores .scores table tr:nth-child(even) {
    background-color: #f2f2f2;
}
.TopOneHundo-container .display .highscores .scores table tr:hover {
    background-color: #ddd;
}
