.Multiplayer {
    position: relative;
    background-color: #D9FFF1;
}
.Multiplayer .grid {
    display: grid;
    grid-template-columns: 20% auto;
}


.Multiplayer-container {
    position: relative;
}
.Multiplayer-container .display {
    background-color: white;
    margin: 5% auto 0% auto;
    width: 55%;
    height: 50%;
    border: 1px solid;
    display: grid;
    grid-template-rows: auto auto auto auto auto;
}
.Multiplayer-container input {
    display: block;
    margin: 0 auto;
    margin-top: 1%;
    width: 53.8%;
    height: 7%;
    border: 5px solid #FFC400;
    font-size: 32px;
    padding-left: 10px;
    letter-spacing: 2px;
}