.Multiplayer {
    position: relative;
    background-color: #D9FFF1;
}
.Multiplayer .grid {
    display: grid;
    grid-template-columns: 20% auto;
}


.Multiplayer-container {
    position: relative;
}
.Multiplayer-container .display {
    background-color: white;
    margin: 5% auto 0% auto;
    width: 55%;
    height: 50%;
    border: 1px solid;
}