.AboutUs {
    position: relative;
    background-color: #D9FFF1;
}
.AboutUs .grid {
    display: grid;
    grid-template-columns: 20% auto;
}


.AboutUs-container {

}
.AboutUs-container .display {
    background-color: white;
    margin: 5% auto 0% auto;
    width: 55%;
    height: fit-content;
    border: 1px solid;
}
.AboutUs-container .display p {
    padding: 0 10%;
    font-size: 24px;
}
