.AboutUs {
    position: relative;
    background-color: #D9FFF1;
}
.AboutUs .grid {
    display: grid;
    grid-template-columns: 20% auto;
}


.AboutUs-container {
    position: relative;
}
.AboutUs-container .display {
    background-color: white;
    margin: 5% auto 0% auto;
    width: 55%;
    height: 80%;
    border: 1px solid;
}
.AboutUs-container .display p {
    padding: 0 10%;
    font-size: 24px;
}
.AboutUs-container .display .fakereview1 {
    padding: 0 10%;
    font-size: 20px;
    transform: rotate(-10deg);
    position: absolute;
    right: 0;
}
.AboutUs-container .display .fakereview2 {
    padding: 0 10%;
    font-size: 20px;
    transform: rotate(5deg);
    position: absolute;
    bottom: 140px;
}